.blob-container {
    position: relative;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

.minimized {
    position: relative;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    width: 20px;
    height: 20px;
  }
  
  .blob-wrapper {
    position: relative;
    z-index: 1001;
  }
  
  .welcome-message {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }