.square {
  width: 100%;
  height: 100%;
  position: relative;
}

.square span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  transition: background-image 0.5s ease, box-shadow 0.5s ease;
}

.square span:nth-child(1),
.square span:nth-child(2),
.square span:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#6b72ff00 50%, #000dff3b 40%);
    box-shadow: 0 0 5px rgb(25,0,255), inset 0 0 15px rgb(25,0,255);
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
}
.square span:nth-child(1) {
  opacity: 0.7;
}

.square span:nth-child(2) {
  opacity: 0.5;
}

.square span:nth-child(3) {
  opacity: 0.3;
}

.square.recording span:nth-child(1),
.square.recording span:nth-child(2),
.square.recording span:nth-child(3) {
  background-image: radial-gradient(#ffffff00 50%, #ff00001a 40%);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.3), inset 0 0 8px rgba(255, 0, 0, 0.3);
}

.square span:nth-child(1) {
  animation: rotate 10s linear infinite;
}

.square span:nth-child(2) {
  animation: rotate 15s linear infinite;
}

.square span:nth-child(3) {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#JarvisHood {
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#JarvisHood.minimized:hover {
  transform: scale(1.1);
}

#JarvisHood:hover .square span {
  filter: brightness(1.2);
  transition: filter 0.3s ease;
}
